[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "immunopipe"
description = "A pipeline for integrative analysis for scTCR- and scRNA-seq data"
authors = [ "pwwang <pwwang@pwwang.com>",]
version = "0.3.0"
license = "GNU General Public License v3.0"
readme = "README.md"
homepage = "https://github.com/pwwang/immunopipe"
repository = "https://github.com/pwwang/immunopipe"

[tool.poetry.dependencies]
python = "^3.7.1"
pipen-args = "^0.3"
pipen-report = "^0.4"
pipen-filters = "^0.1"
biopipen = "^0.6"
datar = {version = "^0.10.3", extras = ["pandas"]}
pipen-verbose = "^0.1"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
immunopipe = "immunopipe.pipeline:main"

[tool.poetry.group.dev.dependencies]
pipen-dry = "^0.1.0"

[tool.black]
line-length = 80
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
