<script>
import { DataTable } from 'pipen-smelte'
</script>

# Sample Information

{% assign samplefile = job.outdir + "/samples.txt"  %}

<DataTable
    data="{{ samplefile | @report.datatable: delimiter='\t' }}"
    datafile="{{ samplefile }}" />

# Meta Information

{% assign metafile = job.outdir + "/metadata.txt"  %}

<DataTable
    data="{{ metafile | @report.datatable: delimiter='\t' }}"
    datafile="{{ metafile }}" />
