<script>
import { DataTable } from 'pipen-smelte'
</script>

# Sample Information

{% assign samplefile = job.outdir + "/samples.txt"  %}

<DataTable
    data="{{ report.datatable(samplefile, delimiter='\t') }}"
    datafile="{{ samplefile }}" />

# Meta Information

{% assign metafile = job.outdir + "/metadata.txt"  %}

<DataTable
    data="{{ report.datatable(metafile, delimiter='\t') }}"
    datafile="{{ metafile }}" />
