{% from os import path %}

<script>
import { Image } from 'pipen-smelte'
</script>

# Gene expressions / boxplots

<Image alt="Gene expressions"
    src="{{ job0.out.outdir | @path.join: 'biomarker-boxplots.png' }}" />


# Gene expressions / heatmap

<Image alt="Gene expressions"
    src="{{ job0.out.outdir | @path.join: 'heatmap.png' }}" />
