{% from_ os import path %}

<script>
import { Image } from 'pipen-smelte'
</script>

# Gene expressions / boxplots

<Image alt="Gene expressions"
    src="{{ path.join(job0.out.outdir, 'biomarker-boxplots.png') }}" />


# Gene expressions / heatmap

<Image alt="Gene expressions"
    src="{{ path.join(job0.out.outdir, 'heatmap.png') }}" />
